<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Example2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Example3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Example4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Example5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Example6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Example7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E932F66E1B8CA6E800A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6921B8CA9EA00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F69E1B8CAA3300A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6AB1B8CAA5100A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6B81B8CAA6B00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6C51B8CAA7D00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6DA1B8CAE5B00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6E71B8CAFB400A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F7F21B8CB4F700A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F8011B8CB6D300A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991B4AD1BEE339400950A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991B4B81BEE33A500950A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991B4C31BEE33AC00950A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991B4CE1BEE33B100950A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991B4D91BEE33B700950A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991B4E41BEE33BD00950A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E991B4EF1BEE33C300950A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
