<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasicoMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Transform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TransformationHierarchy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E932F66E1B8CA6E800A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6921B8CA9EA00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F69E1B8CAA3300A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6AB1B8CAA5100A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6B81B8CAA6B00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6C51B8CAA7D00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6DA1B8CAE5B00A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F6E71B8CAFB400A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F7F21B8CB4F700A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E932F8011B8CB6D300A74607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F9C9471BB4BE9D00AF35C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F9C9561BB4C20500AF35C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F9C9651BB4CB9D00AF35C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
